.alta__main {
    background-color:  rgb(7, 7, 46);
    padding: 2em;
}

.form-alta__fieldset {
    width: 40%;
    margin: 0 auto;
    padding: 2em;
}

.form-alta__legend {
    font-size: 2em;
    color: whitesmoke;
}

.form-alta__row {
    color: whitesmoke;
    margin: 0.5em;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
}

.form-alta__row label {
    margin-right: 0.3em;
}

.form-alta__row input, 
.form-alta__row select,
.form-alta__row textarea {
    height: 2em;
    width: 80%;
}

.form-alta__row-checkbox {
    color: whitesmoke;
    margin: 0.5em;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
}

.form-alta__button-reset {
    padding: 0.5em;
    margin: 2em 0.5em 0 10em;  
    border: 1px solid black;  

    &:hover,
    &:focus {
        -moz-transform: scale(1.03);
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        -moz-transform-origin: bottom;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, .05), 0 3px 3px rgba(0, 0, 0, .01);
    }    
}

.form-alta__button-submit {
    padding: 0.8em;
    font-weight: bold;
    font-size: 1em;
    margin: 2em 0.5em 1em 10em;    
    border: 2px solid black;

    &:hover,
    &:focus {
        -moz-transform: scale(1.03);
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        -moz-transform-origin: bottom;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, .05), 0 3px 3px rgba(0, 0, 0, .01);
    }    
}


@media (max-width: 768px) {
    .form-alta__fieldset {
        width: 100%;
    }
}